.Bb{
    background-color: black;
  }
  .Bb background-image{
    width: 100%;
  }
  .B{
    color: red;
    text-align: center;
    font-size: 50pt;
    font-family: fantasy;
  }
  .D h1{
    font-size: 50pt;
    text-align: center;
    color: blue;
    font-family: fantasy;
  }
  .D p{
    font-weight: bolder;
    font-size: 29pt;
    color: white;
    text-align: center;
  }
   header {
      background-color: #333;
      padding: 20px;
      border: 3px solid white;
  }
  
  nav ul {
      list-style: none;
      text-align: center;
  }
  
  nav ul li {
      display: inline-block;
      margin: 0 10px;
  }
  
  nav ul li a {
    font-family: fantasy;
    font-size: 19pt;
      color: #fff;
      text-decoration: none;
  }
  .D h2{
    text-align: center;
    color: gray;
    font-size: 40pt;
    font-family: fantasy;
  }